@import "tailwindcss";

#root {
  width: 100%;
  
  margin: 0 auto;
  text-align: center;
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.read-the-docs {
  color: #888;
}

.container1 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #000 url(./assets/bg/bg.png) center center;
  color: #fff;
}

.wrapper {
  padding: 2% 0;
}

.item {
  width: 20%;
  height: 20%;
}

.title-main {
  background: -webkit-linear-gradient(#021A36, #CBF3FE);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #CBF3FE
}
.abstract {
  color: #057EEC;
  font-size: 71px;
}
.abstract-border {
  border: 2px solid #057EEC;
}
.buy {
  background: #007BEC;
}
.goldman-regular {
  font-family: "Goldman", serif;
  font-weight: 400;
  font-style: normal;
}

.goldman-bold {
  font-family: "Goldman", serif;
  font-weight: 700;
  font-style: normal;
}
.moonshot {
  font-size: 22px;
  font-weight: 400;
  color: #E0FF31;
}